@using PortfolioProject.Areas.Admin.Models;
@model AboutModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Layout/_Layout.cshtml";
}

<h1>Edit</h1>
<form method="post" enctype="multipart/form-data">
    @Html.HiddenFor(a=>a.AboutId)
     <label asp-for="AboutDescription"></label>
    <input asp-for="AboutDescription" />
    <label asp-for="AboutImage"></label>
    <input asp-for="AboutImage"/>
    <button type="submit" asp-action="Create" asp-area="Admin" asp-controller="About">Submit</button>

</form>
